<div style="color:#8c8c8c">
	<a href="{#RP#}shop/class/?1.html" style="text-decoration:none;color:#8c8c8c;font:12px/14px 'SimSun',Arial,Sans-Serif;padding:0px 9px;">摆饰</a>|
	<a href="{#RP#}shop/class/?2.html" style="text-decoration:none;color:#8c8c8c;font:12px/14px 'SimSun',Arial,Sans-Serif;padding:0px 9px;">挂饰</a>|
	<a href="{#RP#}shop/class/?3.html" style="text-decoration:none;color:#8c8c8c;font:12px/14px 'SimSun',Arial,Sans-Serif;padding:0px 9px;">花艺</a>|
	<a href="{#RP#}shop/class/?5.html" style="text-decoration:none;color:#8c8c8c;font:12px/14px 'SimSun',Arial,Sans-Serif;padding:0px 9px;">家具</a>|
	<a href="{#RP#}shop/class/?99.html" style="text-decoration:none;color:#8c8c8c;font:12px/14px 'SimSun',Arial,Sans-Serif;padding:0px 9px;">灯饰</a>|
	<a href="{#RP#}shop/class/?6.html" style="text-decoration:none;color:#8c8c8c;font:12px/14px 'SimSun',Arial,Sans-Serif;padding:0px 9px;">布艺</a>|
	<a href="{#RP#}shop/class/?7.html" style="text-decoration:none;color:#8c8c8c;font:12px/14px 'SimSun',Arial,Sans-Serif;padding:0px 9px;">配饰用品</a>
</div>