<!-start->
<link href="images/mainmenu_dolphin/A.css" rel="stylesheet" type="text/css" />
<div id="menumain_dolphin">
<div class="mainmenuiner">
<!-start-> 
<!-menu->
<a href="{#menuurl#}" target="{#target#}" class="menumain_dolphin">{#menu#}</a>
<!-menu->
<!-end->
</div>
</div>
<div class="menuright"><a href="{#RP#}shop/brand.php" style="font:14px/32px 'Microsoft YaHei','SimSun',Arial,Sans-Serif;">品牌查询</a><a href="{#RP#}huanzeng/class/" style="font:14px/32px 'Microsoft YaHei','SimSun',Arial,Sans-Serif;">积分兑换</a></div>
<!-end->



